################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cgsf
/AnchetasMorita/bin
/cgsf/bin
/vegMarket/WebSite/obj/Release/mildaWebSite.dll
/vegMarket/WebSite/obj/Release/mildaWebSite.pdb
/vegMarket/WebSite/obj/Release/vegMarket.csproj.AssemblyReference.cache
/vegMarket/WebSite/obj/Release/vegMarket.csproj.Up2Date
/vegMarket/WebSite/obj/Release
/vegMarket/WebSite/obj/Debug
/vegMarket/WebSite/bin/mildaWebSite.dll
/vegMarket/WebSite/bin/mildaWebSite.pdb
/AnchetasMorita/obj/Debug/anchetasMorita.csproj.AssemblyReference.cache
/AnchetasMorita/obj/Debug/kuxan.dll
/AnchetasMorita/obj/Debug/kuxan.pdb
/AnchetasMorita/obj/Debug
/AnchetasMorita/obj/Release/anchetasMorita.csproj.AssemblyReference.cache
/AnchetasMorita/obj/Release/kuxan.dll
/AnchetasMorita/obj/Release/kuxan.pdb
/cgsfWebUtil/bin/Debug/cgsfWebUtil.dll
/cgsf/obj/Debug/cgsf.csproj.AssemblyReference.cache
/cgsf/obj/Debug/cgsf.dll
/cgsf/obj/Debug/cgsf.pdb
/cgsf/obj/Release/cgsf.csproj.AssemblyReference.cache
/cgsf/obj/Release/cgsf.dll
/cgsf/obj/Release/cgsf.pdb
/cgsfWebUtil/bin/Debug/cgsfWebUtil.pdb
/cgsfWebUtil/bin/Release/cgsfWebUtil.dll
/cgsfWebUtil/bin/Release/cgsfWebUtil.pdb
/cgsfWebUtil/obj/Debug/cgsfWebU.2B10C829.Up2Date
/cgsfWebUtil/obj/Debug/cgsfWebUtil.csproj.AssemblyReference.cache
/cgsfWebUtil/obj/Debug/cgsfWebUtil.dll
/cgsfWebUtil/obj/Debug/cgsfWebUtil.pdb
/cgsfWebUtil/obj/Release/cgsfWebU.2B10C829.Up2Date
/cgsfWebUtil/obj/Release/cgsfWebUtil.csproj.AssemblyReference.cache
/cgsfWebUtil/obj/Release/cgsfWebUtil.dll
/cgsfWebUtil/obj/Release/cgsfWebUtil.pdb
/dominioAnchet/bin/Debug/dominioAnchet.dll
/dominioAnchet/bin/Debug/dominioAnchet.pdb
/dominioAnchet/bin/Release/dominioAnchet.dll
/dominioAnchet/bin/Release/dominioAnchet.pdb
/dominioAnchet/obj/Debug/dominioAnchet.csproj.AssemblyReference.cache
/dominioAnchet/obj/Debug/dominioAnchet.dll
/dominioAnchet/obj/Debug/dominioAnchet.pdb
/dominioAnchet/obj/Release/dominioAnchet.csproj.AssemblyReference.cache
/dominioAnchet/obj/Release/dominioAnchet.dll
/dominioAnchet/obj/Release/dominioAnchet.pdb
/kuxan/bin
/kuxan/obj/Debug/kuxan.csproj.AssemblyReference.cache
/kuxan/obj/Debug/kuxan.dll
/kuxan/obj/Debug/kuxan.pdb
/kuxan/obj/Release/kuxan.csproj.AssemblyReference.cache
/kuxan/obj/Release/kuxan.dll
/kuxan/obj/Release/kuxan.pdb
/mildaWebSite/mildaWebSite/bin/mildaWebSite.dll
/mildaWebSite/mildaWebSite/bin/mildaWebSite.pdb
/mildaWebSite/mildaWebSite/obj/Debug/mildaWeb.F8134998.Up2Date
/mildaWebSite/mildaWebSite/obj/Debug/mildaWebSite.csproj.AssemblyReference.cache
/mildaWebSite/mildaWebSite/obj/Debug/mildaWebSite.dll
/mildaWebSite/mildaWebSite/obj/Debug/mildaWebSite.pdb
/mildaWebSite/mildaWebSite/obj/Release/mildaWeb.F8134998.Up2Date
/mildaWebSite/mildaWebSite/obj/Release/mildaWebSite.csproj.AssemblyReference.cache
/mildaWebSite/mildaWebSite/obj/Release/mildaWebSite.dll
/mildaWebSite/mildaWebSite/obj/Release/mildaWebSite.pdb
/mildaWebSite/mildaWebSite/obj/Release
