<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="Google.ReCaptcha.Secret" value="6Le1WI4UAAAAAD46ANqo2XwEDN9PihEHRz1dzdS1"/>
    <add key="cuentaDestino" value="alejandro.mape@uniminuto.edu.co"/>
    <add key="cuentaDestinoFinal" value="sandmorq05@hotmail.com--al terminar cambiar el nombre de final por el que no tiene final"/>
    <add key="cuentaFrom" value="sandra.mora@anchetasmorita.com"/>
    <add key="cuentaCopy" value="pantroazul@gmail.com"/>
    <add key="nombreCuentaFrom" value="Ancheta Morita"/>
    <add key="servidor" value="smtp-relay.sendinblue.com"/>
    <add key="puerto" value="587"/>
    <add key="usuario" value="sandra.mora@anchetasmorita.com"/>
    <add key="urlLocal" value="https://www.anchetasmorita.com/"/>
    <add key="pass" value="8HNz24YFyABw60R7"/>
    <add key="ssl" value="true"/>
    <add key="autentificacion" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="AnchetasMoritaEntities" connectionString="metadata=res://*/data.Model.csdl|res://*/data.Model.ssdl|res://*/data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.245.96.26,19889;initial catalog=AnchetasMorita;persist security info=True;user id=sa;password=sElectra69l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AnchetasMoritaConnectionString" connectionString="Data Source=162.245.96.26,19889;Initial Catalog=AnchetasMorita;Persist Security Info=True;User ID=sa;Password=sElectra69l;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>