/* Goddess Documentation CSS */
.documentation {
  font-family: 'Open Sans';
}
.documentation ul > ul {
  padding-left: 20px;
}
.documentation h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}
.documentation h3 {
  margin-top: 40px;
}
.documentation h2 {
  margin-top: 60px;
}
.goddess-content {
  font-size: 12px;
}
.goddess-content a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.goddess-content a:hover {
  color: #e84700;
}
.sub-content a {
  font-size: 14px;
  font-weight: 400;
}
.goddess-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.tag-new {
  color: #fff;
  font-size: 10px;
  background: #e84700;
  border-radius: 3px;
  padding: 0 3px 1px;
  margin: 0 3px;
}